.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

button {
  margin-left: 10px;
  border: 1px solid lightgrey;
}

input {
  border: 1px solid lightgrey;
}


.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: orange;
}

.is-done {
  opacity: 0.5;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.titleBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}